body {
    background-color: grey;
}
table {
    text-align: center;
    border-spacing: 1rem;
    border-color: red;
    background-color:black;
    table-layout: auto;
}
td {
    border: 1px;
}
input[type="button"] {
    border-radius: 12px;
    padding: 12px 20px;
}
input[type="button"]:hover {
    background-color: red;
    color: white;
    border-radius: 12px;
}